In [1]:
import pandas as pd
import string

In [2]:
# count the length of a string
def string_len(sentence_in):
    count_en = count_dg = count_sp = count_zh = count_pu = 0
    s_leng = len(sentence_in)
    for one in sentence_in:
        if one in string.ascii_letters:
            count_en += 1
        elif one.isdigit():
            count_dg += 1
        elif one.isspace():
            count_sp += 1
        elif one.isalpha():
            count_zh += 1
        else:
            count_pu += 1
            
    
    total_chars = count_en + count_dg + count_sp + count_zh + count_pu
    if total_chars == s_leng:
         return count_en, count_dg, count_sp, count_zh, count_pu
#         return pd.Series([count_en, count_dg, count_sp, count_zh, count_pu])
    else:
        print('String length counting is wrong')
        return None

In [3]:
def apply_and_concat(dataframe, field, func, column_names):
    return pd.concat((
        dataframe,
        dataframe[field].apply(
            lambda cell: pd.Series(func(cell), index=column_names))), axis=1)

In [4]:
sentence_test = {'username':["Lilith","Alen"], "chatting_content":["n\我就是测试一下，hahaha，工作辛苦，但是机会来之不易，908704884，加油：）","我说什么来着，jiayouba！！1"]}

In [5]:
df = pd.DataFrame(sentence_test)

In [6]:
df

                                chatting_content username
0  n\我就是测试一下，hahaha，工作辛苦，但是机会来之不易，908704884，加油：）   Lilith
1                             我说什么来着，jiayouba！！1     Alen

In [8]:
# this is for single returning value
# df['chatting_content'].apply(string_len)

In [9]:
# this is for quantization when returning multi values
apply_and_concat(df, 'chatting_content', string_len, ['a', 'b','c','d','e'])

                                chatting_content username  a  b  c   d  e
0  n\我就是测试一下，hahaha，工作辛苦，但是机会来之不易，908704884，加油：）   Lilith  7  9  0  21  8
1                             我说什么来着，jiayouba！！1     Alen  8  1  0   6  3

In [10]:
# x1 = df['str_count'][0]

In [11]:
# df_str_count

In [12]:
# type(x1)